body {
  background: rgb(246, 254, 255);
}

a {
  color: seagreen;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 30px 0;
}
